<h1>Bienvenue <%= @first_name %> sur The Gossip Project</h1>
	<h4>Lâche-toi et viens contribuer avec les autres gossipeurs !</h4>
		<br/>

		<h2>Voici les potins qu'on a en stock </h2>

		<div class="row" style="margin-left: 0px; margin-right: 0px;"><% Gossip.all.each do |gossip| %>
		 	<div class="col-sm-6"><div class="card" style="width: 25rem;">
		    <div class="card-body">
		      <h5 class="card-title"><%=gossip.user.first_name%></h5>
		      <h6 class="card-subtitle mb-2 text-muted"><%=gossip.title%></h6>
		       <a class ="nav-link"<%= link_to "Lien vers ce gossip", gossip_path(:id => gossip.id) %></a>
		    </div>
		  </div>
		</div>
<% end %>